<a href="#/blogs/<%= post.escape('blog_id') %>"><h1><%= post.escape('blog_title') %></h1></a>
<em><%= post.escape('blog_tagline') %></em>
<h2><%= post.escape('title') %></h2>
<%= post.get('content') %>
<% console.log(post) %>
<br>
Comments:
