<a href="#/blogs/<%= post.escape('blog_id') %>"><h1><%= post.escape('blog_title') %></h1></a>
<em><%= post.escape('blog_tagline') %></em>

<h2><%= post.escape('title') %></h2>
<%= post.get('content') %>
<br>
Comments:

<section class="comments"></section>

<form class="form new-comment">
  <input type="hidden" name="comment[post_id]" value="<%= post.escape('id') %>">
  <label>Leave a comment<br>
    <textarea name="comment[content]" rows="16" cols="80"></textarea>
  </label>

  <input type="submit" value="Post">
</form>
