<header id="page-header">
  <div class="header-nav group">
    <ul class="user-login">
      <% if logged_in? %>
        <li id="username" data-username="<%= current_user.username %>">
          <div class="pseudo-anchor">
            <span class="avatar-container">
              <img src="http://www.gravatar.com/avatar/<%= current_user.email_md5 %>?d=identicon">
            </span>
            Hello <%= current_user.username %>.
          </div>
        </li>
        <li><%= button_to "Log out", session_url, method: :delete %></li>
      <% else %>
        <li class="guest"><%= button_to "Log in as guest", new_guest_url %></li>
        <li><%= link_to "Log in", new_session_url %></li>
        <li><%= link_to "Sign up", new_user_url %></li>
      <% end %>
      </li>
    </ul>
    <% if logged_in? %>
      <ul class="user-header-links">
        <li><a href="#">Dashboard</a></li>
        <li><a href="#me">My Blogs</a></li>
      </ul>
    <% end %>
    <ul class="blog-header invis group">
      <li class="blog-header-li">
      </li>
    </ul>
  </div>
</header>

<!-- TODO backbone auth -->
