<header id="page-header">
  <nav class="header-nav group">
    <ul class="header-list user-login">
      <% if logged_in? %>
        <li>
          <div class="pseudo-anchor">
            <span class="avatar-container">
              <img src="http://www.gravatar.com/avatar/<%= current_user.email_md5 %>?d=identicon">
            </span>
            Hello.
          </div>
        </li>
        <li><%= button_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li class="guest"><%= button_to "Log in as guest", new_guest_url %></li>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
      <% end %>
      </li>
    </ul>
    <% if logged_in? %>
      <ul class="header-list user-header-links group">
        <li><a href="#">Dashboard</a>
          <ul class="dropdown">
            <li>
              <a href="#">foo</a>
            </li>
            <li>
              <a href="#">bar</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#me">My Blogs</a>
          <ul class="dropdown blogs-dropdown">
            <% current_user.blogs.each do |blog| %>
              <li data-id="<%= blog.id %>">
                <a href="#blogs/<%= blog.id %>"> <%= blog.title %> </a>
              </li>
            <% end %>
          </ul>
        </li>
      </ul>
    <% end %>
    <ul class="header-list blog-header invis group">
      <li class="blog-header-li">
      </li>
    </ul>
  </nav>
</header>
